[alias]
    cred = config --show-origin --get credential.helper

    cl = clone
    br = branch

    # status
    st = status
    st-ignored = status --ignored
    st-no-untracked = status --untracked-files=no

    # Commit
    cm = commit
    amend = commit --amend -C HEAD

    # Pull
    pl = pull
    pl-main = pull origin main
    pl-master = pull origin master
    pll-all = pull --recurse-submodules

    # push
    ph = push
    ph-main = push origin main
    ph-master = push origin master

    # Add
    a = add
    a-all = add -A

    # Diff
    df = diff
    df-head = diff HEAD
    df-cached = diff --cached

    # Checkout
    cp = cherry-pick
    co = checkout
    co-branch = checkout -b

    # submodule
    sub = submodule
    sub-update = submodule update --init --recursive --jobs 8
    sub-force-update = submodule update --init --recursive --jobs 8 --force
    sub-reset = submodule foreach git reset --hard HEAD
    sub-clean = submodule foreach git clean -fd
    sub-each = submodule foreach

    # Reset
    rs = reset
    rs-main = reset --hard origin/main
    rs-master = reset --hard origin/master

    # Others
    rb = rebase
    sa = stash

    # Cmd
    cc = !git reset --hard HEAD && git clean -fd
    ccx = !git reset --hard HEAD && git clean -fxd
    fp = format-patch --stdout

    # log
    log-online = log --oneline
    log-graph = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep '^h'
    ignored-list = !git check-ignore -v $(find . -type f -print)

    top = !pwd
    file = log --full-history -- 
    who = shortlog -sne

