## C/C++ outputs
*.swp
*.lock
*.log
*.pyc
*.o
*.o.cmd
# some config will use like conf.d
# *.d
# do we want to put this on golobal ignore?
*.a
*.so
*.ko

## Python outputs
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

## Projects
.west
.vimproject
.claude
compile_commands.json

