###########################################
####    Var Defines                    ####
###########################################
# define super key.
set $mod Mod4

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set $ws1 "1:Entry"
set $ws2 "2:Editor"
set $ws3 "3:Coding"
set $ws4 "4:Experiment"
set $ws5 "5:Workspace"
set $ws6 "6:Workspace"
set $ws7 "7:Workspace"
set $ws8 "8:Workspace"
set $ws9 "9:Monitor"
set $ws10 "0:Workspace"

###########################################
####    Service Settings               ####
###########################################

# Notification Daemon
exec_always [ -z "$(pgrep -x swaync)" ] && swaync

# swayidle for screen saver
# 15 minutes to turn off screen, 30 minutes to sleep
exec_always swayidle -w \
         timeout 900 'swaymsg "output * power off"' \
         resume 'swaymsg "output * power on"' \
         timeout 1800 'systemctl suspend' \
         before-sleep 'swaylock -f --image ${HOME}/media/pictures/screensaver.jpg'
# exec_always  swayidle -w \
#              timeout 900 'swaymsg "output * dpms off"' \
#              resume 'swaymsg "output * dpms on"' \
#              timeout 1800 'systemctl suspend' \
#              before-sleep 'swaylock -f'

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec_always nm-applet

## Delay start
# exec_always sleep 5 && ibus-daemon --xim -d -r
# exec_always sleep 5 && ibus-daemon -rxRd
# for_window [app_id="ibus-ui-gtk3"] floating enable, border none
exec_always sleep 5 && fcitx5 -r -d
exec_always sleep 10 && pulseaudio --start

# for gesture
exec_always [ -z "$(pgrep -x ydotoold)" ] && ydotoold
exec_always libinput-gestures-setup start

###########################################
####    Sway Settings                  ####
###########################################

### General Settings

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
# font pango:monospace 13
font pango:Source Code Pro Medium, Source Han Sans TW, Source Han Sans CN, Source Han Sans HW K, Source Han Sans JP 10

# wallpaper
output "*" bg ${HOME}/media/pictures/wallpaper.jpg fill

### Scratchpad Settings
# scratchpad_minimize disable

### Titlebar Settings
titlebar_separator enable
titlebar_padding 4

### Workspace Layout
# workspace_layout tabbed
workspace_layout default

### Gaps and Borders
# disable gaps for better operation.
# gaps inner 2
# gaps outer 2
# # if smart_gaps on, gaps may not work
# smart_gaps on

default_border pixel 2
default_floating_border normal
# hide_edge_borders both
smart_borders on

### Opacity per window type
# Dim unfocused windows a bit
for_window [tiling] opacity 0.95 0.85
for_window [floating] opacity 0.93 0.75
for_window [shell="xwayland"] title_format "[XWayland] %title"
### Floating Rules
# for_window [class="^.*"] border pixel 2
for_window [window_role="pop-up"] floating enable
for_window [window_type="dialog"] floating enable

### Dim inactive windows
default_dim_inactive 0.1
dim_inactive_colors.unfocused #00000099
dim_inactive_colors.urgent #900000FF

### Shadows
shadows enable
shadows_on_csd disable
shadow_blur_radius 15
shadow_color #000000AA
shadow_offset 5 5
shadow_inactive_color #00000066

### Blur Settings
blur enable
blur_xray disable
blur_passes 2
blur_radius 5
blur_noise 0.02
blur_brightness 1.0
blur_contrast 1.0
blur_saturation 1.1

### Rounded Corners
corner_radius 3

### Input settings
input * {
    natural_scroll enabled
    tap enabled
    # accel_profile flat
}

input type:pointer {
    natural_scroll enabled
    left_handed enabled
}

input type:keyboard {
    repeat_delay 160
    repeat_rate 30
}
input type:touchpad {
    tap enabled
    natural_scroll enabled
}

## Pannel
###########################################
# Base Colors (Grayscale)
# base00 - background
set $color_gray0          #1f1f1f
# base01 - inactive background
set $color_gray1          #393939
# base02 - border
set $color_gray2          #4a4a4a
# base03 - subtle border
set $color_gray3          #5e5e5e
# base04 - muted text
set $color_gray4          #afafaf
# base05 - main text
set $color_gray5          #c5c5c5
# base06 - light text
set $color_gray6          #dbdbdb
# base07 - light background
set $color_gray7          #f0f0f0

# Semantic Colors
# base08 - error/red
set $color_red            #fb4934
# base09 - warning/orange
set $color_orange         #fe8019
# base0A - highlight/yellow
set $color_yellow         #fabd2f
# base0B - success/green
set $color_green          #b8bb26
# base0C - accent/teal
set $color_teal           #8ec07c
# base0D - focus/blue
set $color_blue           #83a598
# base0E - special/purple
set $color_purple         #d3869b
# base0F - alternate warning
set $color_dark_orange    #d65d0e

# Property Name         Border             BG                 Text           Indicator          Child Border
client.focused          $color_blue        $color_gray1       $color_gray5   $color_teal        $color_blue
client.focused_inactive $color_gray1       $color_gray1       $color_gray5   $color_gray3       $color_gray1
client.unfocused        $color_gray1       $color_gray0       $color_gray5   $color_gray1       $color_gray1

client.urgent           $color_red         $color_red         $color_gray0   $color_red         $color_red
client.placeholder      $color_gray0       $color_gray0       $color_gray5   $color_gray0       $$color_gray0
client.background       $color_gray7

# # color: colour of border, background, text, indicator, and child_border
# client.focused              #bf616a #2f343f #d8dee8 #bf616a #d8dee8
# client.focused_inactive     #2f343f #2f343f #d8dee8 #2f343f #2f343f
# client.unfocused            #2f343f #2f343f #d8dee8 #2f343f #2f343f
# client.urgent               #2f343f #2f343f #d8dee8 #2f343f #2f343f
# client.placeholder          #2f343f #2f343f #d8dee8 #2f343f #2f343f
# client.background           #2f343f

## Bar
###########################################
# Blur Waybar background
layer_effects "waybar" {
    blur enable;
    blur_xray enable;
    blur_ignore_transparent enable;
    shadows enable;
    corner_radius 5;
}
bar {
    swaybar_command waybar
}
layer_effects "notifications" {
    blur enable;
    blur_ignore_transparent enable;
    corner_radius 10;
    shadows enable;
}

###########################################
####    Key shortcut                   ####
###########################################

## Default applications
# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
# bindsym $mod+Return exec i3-sensible-terminal
bindsym $mod+Return exec alacritty

## Menu
# start dmenu (a program launcher)
# bindsym $mod+d exec dmenu_run
# There also is the (new) i3-dmenu-desktop which only displays applications
# shipping a .desktop file. It is a wrapper around dmenu, so you need that
# installed.
# if wayland, we could use rofi-wayland, if x can work with -x11
bindsym $mod+d exec rofi -lines 12 -padding 18 -width 48 -location 0 -show drun -sidebar-mode -columns 2 -font 'Source Code Pro Medium 10' -theme Paper

## Toggle control center
bindsym $mod+Shift+n exec swaync-client -t -sw

## screen shot
# slurp to select screen
# grim to capture
# wl-clipboard to copy screen shot.
bindsym Print exec grim - | tee ${HOME}/pictures/screenshots/screenshot_$(date +%Y%m%d_%H%M%S).png | wl-copy && notify-send "Screen captured."
bindsym $mod+Print exec swaymsg -t get_tree | jq -r '.. | select(.focused?) | .rect | "\(.x),\(.y) \(.width)x\(.height)"' | grim -g - - | tee ${HOME}/pictures/screenshots/screenshot_$(date +%Y%m%d_%H%M%S).png | wl-copy && notify-send "Screen captured."
bindsym $mod+shift+Print exec slurp | grim -g - - | tee  ${HOME}/pictures/screenshots/screenshot_$(date +%Y%m%d_%H%M%S).png | wl-copy && notify-send "Screen captured."

## Recording
# wf-recorder for recording
# wf-recorder -f recording.mp4
# wf-recorder -g "$(slurp)"

## Other configs
# config for functions.
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set 5%+
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioPause exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86AudioStop exec playerctl stop
bindsym XF86Search exec bemenu-run

bindsym Ctrl+KP_Add exec pactl set-sink-volume @DEFAULT_SINK@ +5% && $refresh_i3status
bindsym Ctrl+KP_Subtract exec pactl set-sink-volume @DEFAULT_SINK@ -5% && $refresh_i3status

# kill focused window
bindsym $mod+Shift+q kill

# # change focus
# bindsym $mod+j focus left
# bindsym $mod+k focus down
# bindsym $mod+l focus up
# bindsym $mod+semicolon focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# # move focused window
# bindsym $mod+Shift+j move left
# bindsym $mod+Shift+k move down
# bindsym $mod+Shift+l move up
# bindsym $mod+Shift+semicolon move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# # split in horizontal orientation
# bindsym $mod+h split h

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# split in horizontal orientation
bindsym $mod+g split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# scratchpad
bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace number $ws1
bindsym $mod+2 workspace number $ws2
bindsym $mod+3 workspace number $ws3
bindsym $mod+4 workspace number $ws4
bindsym $mod+5 workspace number $ws5
bindsym $mod+6 workspace number $ws6
bindsym $mod+7 workspace number $ws7
bindsym $mod+8 workspace number $ws8
bindsym $mod+9 workspace number $ws9
bindsym $mod+0 workspace number $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit sway' 'swaymsg exit'"

## resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing right will grow the window’s width.
        # Pressing left will shrink the window’s width.
        # Pressing up will grow the window’s height.
        # Pressing down will shrink the window’s height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        bindsym k resize grow height 10 px or 10 ppt
        bindsym j resize shrink height 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Right resize grow width 10 px or 10 ppt
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Up resize grow height 10 px or 10 ppt
        bindsym Down resize shrink height 10 px or 10 ppt

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym q mode "default"
        bindsym $mod+r mode "default"
}
bindsym $mod+r mode "resize"

## Move Mode:
mode "move" {
    # Move floating window
    bindsym Left  move left 10px
    bindsym Right move right 10px
    bindsym Up    move up 10px
    bindsym Down  move down 10px

    bindsym h move left 10px
    bindsym l move right 10px
    bindsym k move up 10px
    bindsym j move down 10px

    # Return to default mode
    bindsym q mode "default"
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym $mod+m mode "default"
}

# you can bind whatever key you like:
bindsym $mod+m mode "move"

# Move current workspace
bindsym $mod+Control+Left workspace prev
bindsym $mod+Control+Right workspace next

bindsym $mod+Control+h workspace prev
bindsym $mod+Control+l workspace next

# Suspend
# bindsym Ctrl+Alt+l exec sudo systemctl suspend

# screen lock
bindsym Ctrl+Alt+l exec swaylock -f --image ${HOME}/media/pictures/screensaver.jpg

####    Customer shorcute
###########################################

bindsym $mod+F2 exec nautilus
bindsym $mod+F3 exec zed
bindsym $mod+F4 exec gnome-system-monitor
bindsym $mod+F5 exec firefox-developer-edition
# for wayland
bindsym $mod+F6 exec chromium --ozone-platform-hint=auto

bindsym $mod+F9 exec alacritty

####    Other Settings                 ####
###########################################

###########################################
###########################################
####    Note                           ####
###########################################
###########################################
# KP_Add
# KP_Subtract
# KP_Multiply
# KP_Divide
# KP_Enter
# KP_Separator
